body {font-family: var(--font-basic);}
/* header */
#topLayout {position: fixed;top:0;left: 0;z-index:999999;width: 100%;box-shadow: 0 2px 5px var(--rgba-black);}
#topLayout .top-wrapper {background-color: var(--color-sub1);}
#topLayout .top-wrapper .icon-wrap {display: flex;justify-content: space-between;align-items: center;width: 90%;margin: 0 auto;}
#topLayout .top-wrapper .icon-wrap h1 {font-size: 24px;color:var(--color-sub2);}
#topLayout .top-wrapper .icon-wrap .m-menu-icon {position: relative;width: 23px;height:20px;}
#topLayout .top-wrapper .icon-wrap .m-menu-icon > span {position: absolute;left: 0;width: 100%;height:calc(15px / 3);background-color: var(--color-sub2);border-radius: 5px;transition: .2s;}
#topLayout .top-wrapper .icon-wrap .m-menu-icon > span:nth-child(1) {top:0;}
#topLayout .top-wrapper .icon-wrap .m-menu-icon > span:nth-child(2) {top: calc(50% - (15px / 3 / 2));}
#topLayout .top-wrapper .icon-wrap .m-menu-icon > span:nth-child(3) {top: calc(100% - (15px / 3));}
#topLayout .top-wrapper .menu-wrap {display: none;text-align: center;}
#topLayout .top-wrapper .menu-wrap ul {color: var(--color-white);font-size: 14px;}
#topLayout .top-wrapper .menu-wrap ul li {padding: var(--space-small);}
#topLayout .top-wrapper .menu-wrap ul li:hover {background-color: var(--color-sub2);color: var(--color-sub1);font-weight: bold;}
/* 모바일에서 메뉴 아이콘 클릭 시 동작 */
#topLayout .top-wrapper .icon-wrap .m-menu-icon.on > span:nth-child(1) {top: calc(50% - (15px / 3 / 2));transform: rotate(45deg);}
#topLayout .top-wrapper .icon-wrap .m-menu-icon.on > span:nth-child(2) {opacity: 0;}
#topLayout .top-wrapper .icon-wrap .m-menu-icon.on > span:nth-child(3) {top: calc(50% - (15px / 3 / 2));transform: rotate(-45deg);}
#topLayout .top-wrapper .menu-wrap.on {display: block;}
/* main */
#mainLayout {margin-top: calc(var(--space-large) * 2);}
#mainLayout .main-wrapper {}
/* main section1 */
#mainLayout .main-wrapper .section1 {width:90%;height:auto;margin: 0 auto;text-align: center;}
#mainLayout .main-wrapper .section1 .variable-wrap {}
#mainLayout .main-wrapper .section1 .var-title {display: inline-block;text-align: center;font-size: 36px;font-family: var(--font-title);line-height: 120%;}
#mainLayout .main-wrapper .section1 .var-desc {display: inline-block;text-align:left;font-size: 18px;margin-top:var(--space-small);font-family: var(--font-basic);word-break: break-all;}
#mainLayout .main-wrapper .section1 .var-naming-box {display: flex;align-items: center;margin: 0 auto;}
#mainLayout .main-wrapper .section1 .var-naming-box input {width: 100%;padding: var(--space-small);margin: var(--space-middle) 0;border-radius: 100px;border: 3px solid var(--color-sub2);font-size: 14px;color: var(--color-sub2);font-weight: bold;}
#mainLayout .main-wrapper .section1 .var-naming-box input::placeholder {color: var(--color-gray);}
#mainLayout .main-wrapper .section1 .var-naming-box .naming-btn {margin-left: calc((var(--space-small) / 2));font-size: 24px;color: var(--color-sub2);background-color: unset;}
#mainLayout .main-wrapper .section1 .popup-slide-box {height:90vw;overflow: hidden;border-radius:var(--radius-middle);}
#mainLayout .main-wrapper .section1 .popup-slide-box .swiper-slide {width: 100%;height:100%;}
#mainLayout .main-wrapper .section1 .popup-slide-box .swiper-slide img {width: 100%;height: 100%;object-fit: cover;}
/* main section2 */
#mainLayout .main-wrapper .section2 {width: 90%;height: auto;margin: 0 auto;}
#mainLayout .main-wrapper .section2 .title {font-size: 24px;margin-top: var(--space-large);margin-bottom: var(--space-middle); text-align: center;font-family: var(--font-title);}
#mainLayout .main-wrapper .section2 .info-wrap {}
#mainLayout .main-wrapper .section2 .info-wrap .info-item {border: 1px solid var(--color-sub2);border-radius:var(--radius-middle);padding: calc(var(--space-small) * 2);margin-bottom: var(--space-small);}
#mainLayout .main-wrapper .section2 .info-wrap .info3 {margin-bottom: 0;}
#mainLayout .main-wrapper .section2 .info-wrap .info-item .desc{text-align: justify-all;word-break: break-all;}
/* main section3 */
#mainLayout .main-wrapper .section3 {width: 90%;height: auto;margin: 0 auto;}
#mainLayout .main-wrapper .section3 .title {font-size: 24px;margin-top: var(--space-large); margin-bottom: var(--space-middle); text-align: center; font-family: var(--font-title);}
#mainLayout .main-wrapper .section3 .portfolio-slide-box {}
#mainLayout .main-wrapper .section3 .portfolio-slide-box .portfolio-img-wrap {height: 50vw;overflow: hidden;border-radius: var(--radius-middle);}
#mainLayout .main-wrapper .section3 .portfolio-slide-box .portfolio-img-wrap .swiper-slide {width: 100%;height: 100%;}
#mainLayout .main-wrapper .section3 .portfolio-slide-box .portfolio-img-wrap .swiper-slide img {width: 100%;height: 100%;object-fit: cover;}
#mainLayout .main-wrapper .section3 .portfolio-slide-box .portfolio-desc-wrap .tit {display: block;font-size: 18px;margin-top: var(--space-small);margin-bottom: calc(var(--space-small) / 2);}
#mainLayout .main-wrapper .section3 .portfolio-slide-box .portfolio-desc-wrap .p-desc-wrap {display: block;}
#mainLayout .main-wrapper .section3 .portfolio-slide-box .portfolio-desc-wrap .p-desc-wrap .desc {text-align: justify-all;font-size: 16px;margin-bottom: var(--space-small);word-break: break-all;}
#mainLayout .main-wrapper .section3 .portfolio-slide-box .portfolio-desc-wrap .p-desc-wrap .skill span {display: inline-block;color:var(--color-sub2);font-size: 14px;border: 1px solid var(--color-sub2);padding: calc(var(--space-small) / 4) var(--space-small);border-radius: 100px;}
#mainLayout .main-wrapper .section3 .portfolio-slide-box .portfolio-desc-wrap .p-desc-wrap .skill span:hover {background-color: var(--color-sub2);color: var(--color-white);}
/* main section4 */
#mainLayout .main-wrapper .section4 {width: 90%;height: auto;margin: 0 auto;}
#mainLayout .main-wrapper .section4 .title {font-size: 24px;margin-top: var(--space-large);margin-bottom: var(--space-middle); text-align: center;font-family: var(--font-title);}
#mainLayout .main-wrapper .section4 .study-wrapper {}
#mainLayout .main-wrapper .section4 .study-desc-wrap {}
#mainLayout .main-wrapper .section4 .study-desc-wrap .tit {display:block;font-size: 18px;text-align: center;}
#mainLayout .main-wrapper .section4 .study-desc-wrap .desc {font-size: 14px;margin-top: calc(var(--space-small) / 2); text-align: justify-all;word-break: break-all;}
#mainLayout .main-wrapper .section4 .study-list-wrap {}
#mainLayout .main-wrapper .section4 .study-list-wrap .list-box {border: 1px solid var(--color-sub2);border-radius: var(--radius-middle);margin-top: var(--space-small);padding: var(--space-small) calc(var(--space-small) * 2);}
#mainLayout .main-wrapper .section4 .study-list-wrap .list-box li {border-bottom: 1px solid var(--color-sub2);padding: var(--space-small) 0;}
#mainLayout .main-wrapper .section4 .study-list-wrap .list-box li:last-child {border-bottom: 0;}
#mainLayout .main-wrapper .section4 .study-list-wrap .list-box a {display: flex;justify-content: space-between;align-items: center;}
#mainLayout .main-wrapper .section4 .study-list-wrap .list-box .list-tit {display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;text-overflow: ellipsis;word-break: break-all;overflow: hidden;margin-right: var(--space-small);font-size: 16px;}
#mainLayout .main-wrapper .section4 .study-list-wrap .list-box .list-date {font-size: 12px;color: var(--color-gray);}
/* footer */
#bottomLayout {margin-top: calc(var(--space-large) * 2);}